
body {
  font-family: "Noto Sans TC", sans-serif;
  background-color: #f9f4f7;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.8;
}

header {
  background-color: #2e2e2e;
  color: #ffcce0;
  text-align: center;
  padding: 60px 20px;
  border-bottom: 4px solid #ffb6c1;
}

h1 {
  font-size: 2.5em;
  margin: 0;
}

h2 {
  color: #d94f88;
}

section {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

.about img.loopy {
  display: block;
  margin: 20px auto;
  width: 150px;
  border-radius: 10px;
}
.about img.me {
  display: block;
  margin: 20px auto;
  width: 30%;         
  height: 30%;
  object-fit: cover;    
  border-radius: 50%;   
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}


footer {
  text-align: center;
  background-color: #2e2e2e;
  color: #ccc;
  padding: 20px;
  margin-top: 60px;
}
